body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

.quiz-container {
  background: #fce8e8;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: rgb(255, 52, 52);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input {
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
